# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# production
dist/
target/

# direnv
.direnv/

# misc
.DS_Store
.vscode
.idea/
*.iml

#autosaves
*.blend1