body {
  font-family: Arial, Helvetica, sans-serif;
}

.panel {
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 12px;
  overflow: hidden;
  transition:
    width 0.2s,
    height 0.2s;
}

.settingsMenuContent {
  margin: 10px 10px;
}

.settingsMenuTitle {
  font-size: 34px;
  margin: 10px 0px 20px 0px;
}

.settingsMenuLink {
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.settingsClosed {
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  margin: 20px;
}

.settingsOpen {
  top: 0px;
  right: 0px;
  width: 600px;
  max-width: calc(100% - 40px);
  height: 440px;
  margin: 20px;
}

.color {
  top: calc(50% - 30px);
  right: 20px;
  border-color: rgb(255, 255, 255);
  cursor: ns-resize !important;
  border-style: solid;
  z-index: -1;
  transition:
    width 0.1s,
    height 0.1s,
    border-radius 0.1s,
    border-width 0.1s;
}

.mask {
  transition:
    width 0.1s,
    height 0.1s,
    border-radius 0.1s,
    border-width 0.1s;
}

.interior {
  transition:
    width 0.1s,
    height 0.1s,
    border-radius 0.1s,
    border-width 0.1s;
}

.button {
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
}

.color.h {
  border-radius: 12px 12px 4px 4px;
  top: calc(50% - 94px);
  border-width: 4px 4px 0px 4px;
}
.color.h .mask {
  border-radius: 8px 8px 2px 2px;
}

.color.s {
  border-radius: 4px;
  top: calc(50% - 30px);
  border-width: 0px 4px 0px 4px;
}
.color.s .mask {
  border-radius: 2px 2px 2px 2px;
}

.color.l {
  border-radius: 4px 4px 12px 12px;
  top: calc(50% + 30px);
  border-width: 0px 4px 4px 4px;
}
.color.l .mask {
  border-radius: 2px 2px 8px 8px;
}

.color .mask {
  background-color: rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.color .mask .interior {
  width: 60px;
  height: 420px;
  top: -400px;
  position: absolute;
}
.color.h .widerMask {
  height: 64px !important;
}

.wider {
  width: 160px !important;
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
  border-left-width: 0px !important;
  border-bottom-width: 0px !important;
  border-top-width: 0px !important;
}

.color.button .mask .interior.h {
  background-image: linear-gradient(
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0),
    rgb(255, 255, 0)
  );
}

.color.button .mask .interior.s {
  background-image: linear-gradient(rgb(255, 0, 0) 10%, rgb(127, 127, 127) 90%);
}

.color.button .mask .interior.l {
  background-image: linear-gradient(
    rgb(255, 255, 255) 10%,
    rgb(255, 0, 0) 50%,
    rgb(0, 0, 0) 90%
  );
}

.color.button p {
  position: absolute;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 18px;
  margin: 4px;
}

.button.settings {
  top: 0px;
  right: 0px;
}

.burgerXDash {
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  width: 40px;
  height: 8px;
  left: 30px;
  position: absolute;
  margin: -4px 0px 0px -20px;
  transition:
    top 0.2s,
    right 0.2s,
    width 0.2s,
    margin 0.2s,
    rotate 0.2s;
}

.bd1 {
  top: 15px;
}

.bd2 {
  top: 30px;
}

.bd3 {
  top: 45px;
}

.bd1.open {
  top: 30px;
  width: 50px;
  margin: -4px 0px 0px -25px;
  rotate: 45deg;
}

.bd2.open {
  width: 10px;
  margin: -4px 0px 0px -5px;
}

.bd3.open {
  top: 30px;
  width: 50px;
  margin: -4px 0px 0px -25px;
  rotate: -45deg;
}

.button.location {
  top: 20px;
  right: 100px;
  font-size: 46px;
  text-align: center;
  vertical-align: middle;
}

.button.location:hover {
  transform: scale(0.95);
}

.button.location:active {
  transform: scale(0.85);
}

.location svg {
  transform: scale(2.4);
}

.boing {
  animation: bounce 0.35s;
}

@keyframes bounce {
  0% {
    transform: scale(0.85);
  }
  25% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
